.custom-input {
  height: 30px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 3px 10px;
  box-sizing: border-box;
}

.custom-input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 8px rgba(98, 0, 238, 0.3);
  outline: none;
}

@media (max-width: 550px) {
  .custom-input {
    width: 100%;
  }
}
