.button {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-filled {
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

.button-filled:hover {
  background-color: var(-hover-color);
}

.button-outlined {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.button-outlined:hover {
  color: white;
  background-color: var(--secondary-color);
}

.button-mobile-link {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  width: 160px;
  font-size: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.arrow-icon {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  width: 15px;
  height: 15px;
}

.button-link {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
}

.button-link:hover {
  color: var(--secondary-color);
}

.button-link:hover .button-link-icon {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(8000%)
    hue-rotate(265deg) brightness(90%) contrast(120%);
}

.button-link.active {
  color: var(--secondary-color);
  background-color: #eeedfb;
}

.button-link.active .button-link-icon {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(8000%)
    hue-rotate(265deg) brightness(90%) contrast(120%);
}

.button-link-icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  filter: brightness(0) saturate(100%) invert(53%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(92%) contrast(85%);
}

@media (max-width: 550px) {
  .button-link-icon {
    margin-right: 0;
  }

  .button-filled {
    width: 100%;
  }
}
